* {
    font-family: Arial, Helvetica, sans-serif;
}

.common-grey {
    color: #757575;
}

.common-green {
    color: #DCEDC8;
}

.grey-button {
    color: #b4b4b4;
}

.dark-green-button {
    color: #abd37c;
}

.modal-title {
    font-size: 1.7em;
    margin: 2%;
}

.modal-content {
    font-size: 1.5em;
}

.modal-action-button {
    font-size: 1.6em;
}