.JournalReaderHalf{
	position: absolute;
	top: 0px;
	left: 30%;
	right: 0;
	bottom: 0;
	min-height: calc(100%-70px);
	overflow: auto;
}

.JournalReaderFull{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0;
	bottom: 0;
	min-height: calc(100%-70px);
	overflow: auto;
}

ul.journalList{
	display: block;
	padding-bottom: 50px;
}

.displayJournal{
	height: 360px;
	display: block;
	padding: 11px;
}

.bottomBar{
	color: #FFFFFF;
	background-color: #33691E;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: relative;
	margin-top: -100px;
	clear: both;
}

.wrap{
	min-height: 100%;
    padding-bottom: 100px;
}