.SearchBar{
	background-color: white;
	margin: auto;
	height: 70px;
	line-height: 70px;
}


.searchIcon{
	padding: 15px;
	position: relative;
	left: 10%;
	float: left;
}

.searchPlace{
	float: left;
	position: relative;
	left: 11%;
	margin-top: 15px;
}

.searchPurpose{
	float: left;
	margin-top: 15px;
	position: relative;
	left: 16%;
}

.searchDay{
	float: left;
	margin-top: 15px;
	position: relative;
	left: 21%;
}