.JournalHalf{
	position: absolute;
	width: 95%;
	min-height: 350px;
	background-color: #EEEEEE;
	margin-top: 30px;
	margin-bottom: 50px;
	border-radius: 30px;
	left: 2.5%;
}

ul.TouristAttractionFullList{
	position: absolute;
	padding-bottom: 50px;
	display: block;
}

.displayTouristAttractionFull{
	height: 300px;
	display: block;
	padding: 11px;
}

.divtouristAttractionFullList{
	margin-top: 290px;
}

.journalTitleHalf{
	float: left;
	position: absolute;
	left: 5%;
	margin-top: 20px;
	color: #616161;
	font-weight: bold;
	font-size: 30px;
}

.backtoJournalList{
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 10px;
	background-color: #444444;
	color: white;
}

.hashtagFullList{
	position: absolute;
	top: 80px;
	width: 65%;
}

.releaseDay{
	position: absolute;
	top: 110px;
	right: 5%;
	font-size: 20px;
	color: #757575;
}

.information{
	position: absolute;
	top: 160px;
	left: 4%;
	width: 60%;
	z-index: 10;
}

.informationContent{
	color: #757575;
	font-size: 20px;
	line-height: 30px;
}

.informationTitle{
	color: #757575;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

.hr{
	height: 1px;
	width: 95%;
	position: absolute;
	top: 250px;
	background-color: #9E9E9E;
	left: 2.5%;
}

