.SearchBar{
	margin: auto;
	height: 70px;
	line-height: 70px;
}


.searchIcon{
	padding: 15px;
	position: absolute;
	top: 30px;
	left: 84%;
	float: left;
}

.searchPlace{
	float: left;
	position: relative;
	left: 8%;
	top: 35px;
	width: 70%;
}

.searchPurpose{
	float: left;
	position: relative;
	top: 35px;
	width: 20%;
	left: 13%;
}

.searchDay{
	float: left;
	position: relative;
	top: 35px;
	width: 20%;
	left: 18%;
}