*{
	margin: auto;
}

.Topbar{
	height: 70px;
	position: fixed;
	background-color: #DCEDC8;
	top: 0;
	left: 0;
	right: 0;
}

.topbarTitle{
	height: 70px;
	position: fixed;
	font-family: arial;
	font-size: 40px;
	color: #757575;
	width: 70%;
	top: 13px;
	left: 20px;
	float: left;
	color: #757575;
	font-weight: normal;
}

.topButton{
	height: 70px;
	position: fixed;
	float: left;
	width: 8%;
	font-size: 25px;
	top: 15px;
	text-align: center;
	font-weight: bold;
	top: 0;
	color: #757575;
	line-height: 70px;
}

.topButton:hover{
	background-color: #C5E1A5;
}

#homePage{
	left: 64%;

}

#aboutUs{
	left: 72%;
}

#expert{
	left: 80%;
}

#findJournel{
	left: 88%;
}

#myAccountIcon{
	right: 10px;
	top: 10px;
}